@charset "UTF-8";
:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --acсуте-color: #E5E5E5;
  --primary-white-color: #FFFFFF;
  --primary-button-color: #F5F4FA;
  --hover-focus-color: #2196F3;
  --bg-hover-btn: #188CE8;
  --base-color: #2F303A;
  --light-bc-color: #F5F4FA;
  --icon-main-color: #AFB1B8;
  --grey-cl-15: rgba(0, 0, 0, 0.15);
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  /* Анімація */
  --anim-shown: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* *::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primery-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo__wrap {
  color: var(--hover-focus-color);
}

.logo--light {
  display: inline-block;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.logo--dark {
  color: #000000;
}
@media screen and (max-width: 767.98px) {
  .logo--dark {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .logo--dark {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo--dark {
    margin-right: 93px;
  }
}

.btn {
  border: 0;
  -webkit-box-shadow: 0px 4px 4px var(--grey-cl-15);
          box-shadow: 0px 4px 4px var(--grey-cl-15);
  border-radius: 4px;
  font-family: inherit;
  background-color: var(--hover-focus-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: background-color var(--anim-shown);
  transition: background-color var(--anim-shown);
}
.btn:hover, .btn:focus {
  background-color: var(--bg-hover-btn);
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heading {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color var(--anim-shown);
  transition: background-color var(--anim-shown);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--hover-focus-color);
}

.socials__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials__icon {
  fill: var(--icon-main-color);
  -webkit-transition: fill var(--anim-shown);
  transition: fill var(--anim-shown);
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: var(--primary-white-color);
}

.socials__icon--light {
  fill: var(--primary-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--anim-shown), visibility var(--anim-shown);
  transition: opacity var(--anim-shown), visibility var(--anim-shown);
}
.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  min-height: 609px;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-white-color);
  cursor: pointer;
}

.btn-close__icon {
  position: absolute;
  -webkit-transition: fill var(--anim-shown);
  transition: fill var(--anim-shown);
}
.btn-close:hover .btn-close__icon, .btn-close:focus .btn-close__icon {
  fill: var(--hover-focus-color);
}

.register-form__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.register-form__group {
  margin-bottom: 20px;
}

.register-form__wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}
.register-form__wrap:not(:last-child) {
  margin-bottom: 10px;
}

.register-form__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.register-form__field {
  height: 40px;
  padding: 12px 42px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--anim-shown);
  transition: border-color var(--anim-shown);
}
.register-form__field:focus {
  border-color: var(--hover-focus-color);
}

.register-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  -webkit-transition: fill var(--anim-shown);
  transition: fill var(--anim-shown);
}
.register-form__field:focus + .register-form__icon {
  fill: var(--hover-focus-color);
}

.register-form__message {
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border-color var(--anim-shown);
  transition: border-color var(--anim-shown);
}
.register-form__message:focus {
  border-color: var(--hover-focus-color);
}
.register-form__message::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
}

.register__checkbox:checked + .agreement__icon > .agreement__unchek-icon {
  opacity: 0;
}

.agreement__uncheck-icon {
  opacity: 0;
  -webkit-transition: opacity var(--anim-shown);
  transition: opacity var(--anim-shown);
}

.register__checkbox:checked + .agreement__icon > .agreement__check-icon {
  opacity: 1;
}

.agreement__check-icon {
  opacity: 0;
  -webkit-transition: opacity var(--anim-shown);
  transition: opacity var(--anim-shown);
}

.agreement__link {
  color: var(--hover-focus-color);
  text-underline-position: under;
}

.register-form__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
}

.mobile-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 480px;
  height: inherit;
  margin-left: auto;
  padding: 48px 40px;
  background-color: var(--primary-white-color);
}

.mobile-menu__bt {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
}

.mobile-menu__icon {
  fill: var(--title-text-color);
  -webkit-transition: fill var(--anim-shown);
  transition: fill var(--anim-shown);
}
.mobile-menu__bt:hover .mobile-menu__icon, .mobile-menu__bt:focus .mobile-menu__icon {
  fill: var(--hover-focus-color);
}

.mobile-menu__list {
  margin-bottom: auto;
}

.mobile-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__item:hover, .mobile-menu__item:focus {
  color: var(--hover-focus-color);
}

.mobile-menu-contact {
  margin-bottom: 64px;
}

.mobile-menu-contact__tel {
  display: inline-block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  margin-bottom: 32px;
  letter-spacing: 0.02em;
  color: var(--hover-focus-color);
}
@media screen and (max-width: 380px) {
  .mobile-menu-contact__tel {
    font-size: 24px;
  }
}

.mobile-menu-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.mobile-menu-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--hover-focus-color);
}

.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ECECEC;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 767.98px) {
  .nav__list {
    display: none;
  }
}

.nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition: color var(--anim-shown);
  transition: color var(--anim-shown);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--hover-focus-color);
}

.nav__link--active {
  color: var(--hover-focus-color);
}

.nav__link--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--hover-focus-color);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767.98px) {
  .contact {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    gap: 50px;
  }
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--anim-shown);
  transition: color var(--anim-shown);
}
.contact__link:hover, .contact__link:focus {
  color: var(--hover-focus-color);
}
@media screen and (min-width: 1200px) {
  .contact__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact__mail {
    padding-top: 21px;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact__tel {
    padding-bottom: 21px;
    padding-top: 5px;
  }
}

.contact__icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .contact__icon-mail {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__icon-tel {
    width: 10px;
    height: 16px;
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--base-color);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 1199.98px) {
  .hero {
    padding: 118px 0;
  }
}
@media screen and (max-width: 767.98px) {
  .hero {
    max-width: 480px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-@1x_sm.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-@1x_sm.jpg);
  }
}
@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-@2x_sm.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-@2x_sm.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-@1x_md.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-@1x_md.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-@2x_md.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-@2x_md.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-@1x_lg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-@1x_lg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-@2x_lg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-@2x_lg.jpg);
  }
}

.main-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  text-transform: uppercase;
}
@media screen and (max-width: 380px) {
  .main-title {
    font-size: 14px;
  }
}
@media screen and (max-width: 1199.98px) {
  .main-title {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 1200px) {
  .main-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  padding: 10px 32px;
}

@media screen and (max-width: 767.98px) {
  .features__items {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .features__items {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__items {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.features__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--light-bc-color);
}

.features__heading {
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
    padding-top: 0;
  }
}

.work__items {
  position: relative;
}

.work__heading {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  text-align: center;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--primary-button-color);
}

.team__items {
  background-color: var(--primary-white-color);
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767.98px) {
  .team__items {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__items {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__items {
    max-width: 270px;
  }
}

.team__wrapor {
  padding: 30px 10px;
}

.team__name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid var(--icon-main-color);
  border-radius: 4px;
  -webkit-transition: border var(--anim-shown);
  transition: border var(--anim-shown);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--hover-focus-color);
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__icon {
  fill: var(--icon-main-color);
  -webkit-transition: fill var(--anim-shown);
  transition: fill var(--anim-shown);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--hover-focus-color);
}

.footer {
  background-color: var(--base-color);
  padding: 60px 0;
}
@media screen and (max-width: 1199.98px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 60px;
    -webkit-column-gap: 165px;
       -moz-column-gap: 165px;
            column-gap: 165px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 76px;
    padding-right: 76px;
  }
}

@media screen and (max-width: 767.98px) {
  .footer__contact {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contact {
    width: 231px;
  }
}

.address__items:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__items:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-address {
  color: var(--primary-white-color);
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--anim-shown);
  transition: color var(--anim-shown);
}
.address__link:hover, .address__link:focus {
  color: var(--hover-focus-color);
}

.footer__heading {
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

@media screen and (max-width: 767.98px) {
  .footer__socials-wrap {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__socials-wrap {
    margin-left: 70px;
    margin-right: 93px;
  }
}

/* Підписка */
.subscription__field {
  height: 50px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px var(--grey-cl-15));
          filter: drop-shadow(0px 4px 4px var(--grey-cl-15));
  border-radius: 4px;
  margin-right: 12px;
  color: var(--primary-white-color);
}
.subscription__field::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__field::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__field:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__field::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 1199.98px) {
  .subscription__field {
    margin-bottom: 20px;
    width: 100%;
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__field {
    width: 358px;
  }
}

.subscription__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 10px 28px;
}

.subscription__icon {
  fill: var(--primary-white-color);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
@media screen and (max-width: 767.98px) {
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    row-gap: 15px;
    max-width: 400px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .filter {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__btn {
  background-color: var(--primary-button-color);
  color: var(--title-text-color);
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  -webkit-transition: background-color var(--anim-shown), color var(--anim-shown), -webkit-box-shadow var(--anim-shown);
  transition: background-color var(--anim-shown), color var(--anim-shown), -webkit-box-shadow var(--anim-shown);
  transition: background-color var(--anim-shown), color var(--anim-shown), box-shadow var(--anim-shown);
  transition: background-color var(--anim-shown), color var(--anim-shown), box-shadow var(--anim-shown), -webkit-box-shadow var(--anim-shown);
}
.filter__btn:hover, .filter__btn:focus {
  background-color: var(--hover-focus-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: var(--btn-shadow);
          box-shadow: var(--btn-shadow);
}

.filter__btn--active {
  background-color: var(--hover-focus-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: var(--btn-shadow);
          box-shadow: var(--btn-shadow);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.portfolio__items {
  background-color: var(--primary-white-color);
}
@media screen and (max-width: 767.98px) {
  .portfolio__items {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio__items {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__items {
    max-width: 370px;
  }
}

.portfolio__link {
  display: block;
  height: 100%;
  -webkit-transition: -webkit-box-shadow var(--anim-shown);
  transition: -webkit-box-shadow var(--anim-shown);
  transition: box-shadow var(--anim-shown);
  transition: box-shadow var(--anim-shown), -webkit-box-shadow var(--anim-shown);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.portfolio__wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__aside {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--anim-shown);
  transition: -webkit-transform var(--anim-shown);
  transition: transform var(--anim-shown);
  transition: transform var(--anim-shown), -webkit-transform var(--anim-shown);
}
.portfolio__link:hover .portfolio__aside, .portfolio__link:focus .portfolio__aside {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__desc {
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}
@media screen and (max-width: 380px) {
  .portfolio__desc {
    font-size: 16px;
    line-height: 1.4;
  }
}

.portfolio__box {
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio__box {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.portfolio__name {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__project {
  font-size: 16px;
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */