.hero { 
    margin-left: auto;
    margin-right: auto;
   
    text-align: center;  
    background-color: var(--base-color);

    background-repeat: no-repeat;
    background-position:center;

   

    @include mb (not-desk) {
        padding: 118px 0;
    }

    @include mb (mob-only) {

        max-width: 480px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../images/hero/hero-@1x_sm.jpg);
       
        @include mb (retina) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
            url(../images/hero/hero-@2x_sm.jpg);
        }
    }

    @include mb (tab-only) {

        max-width: 768px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../images/hero/hero-@1x_md.jpg);
       
        @include mb (retina) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
            url(../images/hero/hero-@2x_md.jpg);
        }
    }


  

    @include mb (desk) {
        padding: 200px 0;
        max-width: 1600px;

        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../images/hero/hero-@1x_lg.jpg);
       
        @include mb (retina) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
            url(../images/hero/hero-@2x_lg.jpg);
        }
    }

}





.main-title {
   
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
   
    font-weight: 900;
     
    letter-spacing: 0.06em;

    color: var(--primary-white-color);

    text-transform: uppercase;

    @media screen and (max-width: 380px) {
        font-size: 14px;
    }

    @include mb (not-desk) {
        max-width: 360px;
        font-size: 26px;
        line-height: 1.6;
    }

    @include mb (desk) {
       max-width: 696px;
        font-size: 44px;
        line-height: 1.36;  
    }
   
}

.hero__btn {
    padding: 10px 32px;
    
}

