.work {
    display: none;
    
    @include mb (desk) {
        display: block;
        padding-top: 0;
    }
    
}

.work__items {
    position: relative;
}


.work__heading {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 27px;
    padding-bottom: 27px;

    width: 100%;
    font-weight: 700;
    text-align: center;
    color: var(--primary-white-color);

    background: rgba(47, 48, 58, 0.8);
} 
