.heading {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.footer-title {
    margin-bottom: 20px;
    
    font-size: 14px;
    line-height: 1.14;
    
    text-transform: uppercase;

    color: var(--primary-white-color);
}


.title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
    
    text-align: center;

    color: var(--title-text-color);

    @include mb (desk) {
        margin-bottom: 50px;
        font-size: 36px;
        line-height:1.17;
    }
}




