
@mixin mb ($type) {
    $mobile: 480px;
    $tablet: 768px;
    $desktop: 1200px;

    // Від 480 рх
    @if $type == 'mob' {
        @media screen and (min-width: $mobile) {
            @content;
        }
            
        
    }

    // Від 0 до 767

    @if $type == 'mob-only' {
        @media screen and (max-width: ($tablet - 0.02)) {
            @content;
        }
            
    }

    // Від 768 рх

    @if $type == 'tab' {
        @media screen and (min-width: $tablet) {
            @content;
        }
            
    }

    // Від 768 до 1199

    @if $type == 'tab-only' {
        @media screen and (min-width: $tablet) and (max-width: ($desktop - 0.02)) {
            @content;
        }
            
    }

    // Від 1200 

    @if $type == 'desk' {
        @media screen and (min-width: $desktop) {
            @content;
        }
            
    }

    //  До 1199

    @if $type == 'not-desk' {
        @media screen and (max-width: ($desktop - 0.02)) {
        @content;
        }
    }


    @if $type == 'retina' {
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          @content;
        }
      }

}
    
